* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(#f9e7df, #e6cebf);
}


.navbar {
    display: flex;
    align-items: center;
    background-color: #4e415d;
    max-height: 80px;
    border-radius: 30px;
}

.logo {
    margin-left: 50px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;

}

nav ul li a {
    transition: all ease-out 0.3s;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f68b3d;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #f4e7de;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #4e415d;
}


.title::after {
    content: '';
    background: #f68b3d;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    max-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4:hover {
    transform: translateY(-5px);
    background: #fbfbf9;
    border-radius: 5px;
}


.col-4 img {
    width: 100%;
    border-radius: 2px;
}

.col-4 h3 {
    color: black;
}

.col-4 a p {
    font-size: 14px;
    color: #4e415d;
}

.rating .fa {
    color: #4e415d;
}